<section class="s-block s-block--full-bg">
    {% for banner in component.banner_last %}
        <div style="background-color: black; background-image: url('{{ banner.image }}'); background-size: cover; background-position: center; background-repeat: no-repeat; min-height: 400px;">
            <div class="container flex text-center items-center justify-center relative h-full">
                <div class="text-white w-full py-20">
                    <h3 class="text-4xl font-bold mb-4">{{ banner.title }}</h3>
                    <p class="text-lg">{{ banner.subtitle }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</section>
