<section class="s-block s-block--full-bg">
    {% if component.banner_last %}
        {% for banner in component.banner_last %}
            <div class="relative">
                {% if user.language.code == 'ar' %}
                    <img src="{{ banner.imageAr }}" alt="Banner" class="w-full h-auto object-cover">
                {% else %}
                    <img src="{{ banner.imageEn }}" alt="Banner" class="w-full h-auto object-cover">
                {% endif %}
                <div class="absolute inset-0 flex items-center justify-center">
                    <div class="container text-center text-white">
                        <div class="w-full py-20">
                            <!-- Banner content can be added here if needed -->
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</section>
